* {
  margin: 0;
  padding: 0;
}
#container {
    position: relative;
    height: 300px;
    width: 100%;
}
#container img {
    position: absolute;
    height: 100%;
    width: 100%;
}
#container h1 {
    position: absolute;
    color: white;
    font-size: 50px;
    padding-left: 400px;
    padding-top: 75px;
}
#container p {
    position: absolute;
    color: white;
    font-size: 25px;
    padding-left: 200px;
    padding-top: 180px;
}
#know {
    position: relative;
    height: 400px;
    width: 100%;
} 

#know img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#know h1 {
    position: absolute;
    font-size: 50px;
    top: 20%;
    left: 30%;
}
.search-bar{
    top: 60%;
    left: 32%;
    position: absolute;
    display : flex;
    width : 400px;
    padding-top: 100px;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-bar input{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    width: 200px;
}
.search-bar input::placeholder{
    color: #ccc;
}
.search-bar img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#text {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color:  #F9FAFB;
}

#tophack {
    background-color: #F9FAFB;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tophack div {
    height: 75%;
    width: 30%;
    background-color: white;
    border-radius: 5%;
}
#tophack div img{
    height: 60%;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%; 
    border-radius: 5%;
}
#tophack div h4 {
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
}

