* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
  height: 300px;
  width: 100%;
}

#container img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#know {
  position: relative;
  height: 400px;
  width: 100%;
}

#know img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#know h1 {
  position: absolute;
  font-size: 50px;
  top: 20%;
  left: 30%;
  z-index: 1;
}

.hackathon-search-bar {
  top: 60%;
  left: 32%;
  position: absolute;
  display: flex;
  width: 400px;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
  z-index: 1;
}

.hackathon-search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.hackathon-search-bar input::placeholder {
  color: #ccc;
}

#text {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: #F9FAFB;
}

#tophack {
  background-color: #F9FAFB;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#tophack div {
  height: 75%;
  width: 30%;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tophack div img {
  height: 60%;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5%;
}

#tophack div h4 {
  font-size: 20px;
}
