
body {
  
  background-color: grey;
  margin: 0;
  padding: 0;
}


.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.form {
  background-color:#b1bee8;
  padding: 30px;
  border-radius: 12px;
  
}


.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}


.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field label {

  font-weight: bold;
  color: black;
}

.field input {
  padding: 10px;font-size: 1rem;
}


.adjacent {
  display: flex;
  gap: 10px;
}

.submit-button {
  width: 30%;
  padding: 15px 0;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}


.submit-button:active {
  box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.4);
  transform: scale(0.98); 
}
