body {
  
  background-color: grey;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  color: white !important;
}


.signup-form {
  width: 500px;
  padding: 20px;
  background-color: #111827;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.signup-form h2 {
  color: #8b5cf6;
  margin-bottom: 10px;
}

.signup-input {
  padding: 12px 8px;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: none;
  box-shadow: none;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  outline: none;
  background-color: rgba(79, 70, 229, 0);
  color: #8b5cf6;
  box-shadow: 0 4px 14px rgba(79, 70, 229, 0.3);
}


.signup-input:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(79, 70, 229, 0.4);
}

.adjacent {
  display: flex;
  width: 100%;
  gap: 10px;
}

.submit-button {
  width: 35%;
  padding: 15px 0;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  
  
}


.submit-button:active {
  box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.4);
  transform: scale(0.98);
  
}
