/* .welcome-header{
    font-size: 1.5rem;
    color: #111827;
    text-align: center;
    margin-top: 100px;
} */
.app-container{
    background-color: #F9FAFB;
      
}

.footer {
    margin-top: auto;
  }
